<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="gamelayout.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>GAME</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link right" href="#">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">LOGIN</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- end navbar -->

    <!-- background -->
    <div class="background">
      <h1>PLAY TRADITIONAL GAME</h1>
      <h4>Experience new traditional game play</h4>
      <button type="button" class="button btn btn-warning">PLAY NOW</button>
      <p>THE STORY</p>
      <a href="">
        <img class="buttom" src="assets/bottom.png" alt="">
      </a>
      
    </div>
    <!-- end background -->

    <!-- background 2 -->
    <div class="background2">
      <div class="container">
        <div class="row">
          <div class="col text">
            <p>What's so special?</p>
            <h1>THE GAMES</h1>
          </div>
          
          <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block"></div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/requirements.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/main-bg.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <img src="assets/left.png" alt="">
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <img src="assets/right.png" alt="">
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
<!-- end background 2 -->

<!-- background 3 -->
<div class="background3">
  <p>What's so special?</p>
  <h1>FEATURES</h1>
</div>
<!-- end background 3 -->

<!-- background 4 -->
<div class="background4">
  <div class="container">
    <div class="row">
      <div class="center col-6">
        <h1>SISTEM <br> REQUIREMENTS</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="kepala"><span>OS:</span> <p>Windows 7 64-bit only (no OSX support as this timme)</p> </th>
              <th scope="col" class="kepala"><span>PROCESSOR:</span> <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athion X2 @ 2.8 GHZ  </p> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="kepala"><span >MEMORY</span> <p>4 GB RAM</p></td>
              <td class="kepala"><span>STORAGE:</span> <p>8 GB Available Space</p></td>
            </tr>
            <tr>
              <td colspan="2" class="kepala"><span>GRAPHIC</span> <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB Directx11 (Shader model 5)</p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="game col-6">
        <p>Can My Computer Run this game?</p>
      </div>
    </div>
  </div> 
</div>
<!-- end background 4 -->

<!-- background 5 -->
<div class="background5">
  <div class="container">
    <div class="row">
      <div class="col-6 score">
        <h1>TOP SCORES</h1>
        <p>This top score from various games provided on this platform</p>
        <button type="button" class="buttonn btn btn-warning">SEE MORE</button>
      </div>
      <div class="col testimoni">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end background 5 -->

<!-- background 6 -->
<div class="background6">
  <div class="container lastPage">
    <div class="row">
      <div class="col-6">
        <img src="assets/final.JPG" alt="">
      </div>
      <div class="col-6 finalText">
        <p>Want to stay in <br> touch?</p>
        <h1>NEWSLETTER <br> SUBSCRIBE</h1>
        <p>Indeed to stay receiving newsletter enter your email <br> We will send you emails containing information about game. We don't spam</p>
        <button type="button" class="dark btn btn-dark">
          <p>Your email addres</p>
          <h6>youremail@binar.co.id</h6>
        </button>
        <button type="button" class="yellow btn btn-warning float-right">Subscribe now</button>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <p>MAIN</p>
            </li>
            <li>
              <p>ABOUT</p>
            </li>
            <li>
              <p>GAME FEATURES</p>
            </li>
            <li>
              <p>SISTEM REQUIREMENTS</p>
            </li>
            <li>
              <p>QUOTES</p>
            </li>
            <hr>
            <li>
              &copy; Your Games, Inc, All Rights Reserved
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>
<!-- end background 6 -->



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>