<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Game Suit</title>
  </head>
  <body>
      <h1>GAME SUIT</h1>

      <div class="container">
          <div class="row justify-content-center">
              <div class="col-4">
                <ul>
                    <li>
                      <h6>Player</h6>
                    </li>
                    <li>
                        <img src="batu.png" id="batu" class="background">
                    </li>
                    <li>
                        <img src="gunting.png" id="gunting" class="background">
                    </li>
                    <li>
                        <img src="kertas.png" id="kertas" class="background">
                    </li>
                </ul>
              </div>
              <div class="col-4">
                <h2 id="anouncement">VS</h2>
              </div>
              <div class="col-4">
                <ul>
                    <li>
                      <h6>Com</h6>
                    </li>
                    <li>
                        <img src="batu.png"  id="batu-com" class="background">
                    </li>
                    <li>
                        <img src="gunting.png"  id="gunting-com" class="background">
                    </li>
                    <li>
                        <img src="kertas.png" id="kertas-com" class="background">
                    </li>
                </ul>
              </div>
          </div>
          <div class="row justify-content-center">
            <div class="col refresh">
              <ul>
                <li>
                  <img src="refresh.png" id="refresh">
                </li>
              </ul>
            </div>
          </div>
      </div>
    

















  </body>
  <script src="script.js"></script> 
 

 
</html>