/* navbar */
.navbar{
    background-color: black;
    position: relative;
    min-height: 80px;
    margin-top: 0;
    opacity: 0.5;
}
.navbar-brand{
    padding-left: 80px;
    color: white;
    font-weight: bolder;
    letter-spacing: 5px;     
}
.navbar-nav{
    padding-left: 150px;
    color: white;
}
.nav-item a{
    color: white;
    padding-right: 80px;
}
.navbar-nav li{
    padding-right: 30px;
}
.right{
    margin-right: 300px;
}


/* background */
.background{
background-image: url(assets/main-bg.jpg);
background-size: cover;
height: 900px;
margin-top: -80px;
text-align: center;
}
.background h1{
    padding-top: 300px;
    color: white;
    font-weight: bolder;
    letter-spacing: 10px;
    font-size: 55px;
}
.background h4{
    color: white;
    font-weight: lighter;
    margin-top: 50px;
}
.background .button{
    margin-top: 50px;
    font-weight: bold;
    width: 250px;
    height: 50px;
}
.background p{
    color: white;
    font-weight: bold;
    margin-top: 250px;
}
.background .buttom{
    margin-top: -40px;
}

/* background 2 */
.background2{
    background-image: url(assets/the-games-bg.jpg);
    height: 900px;
    background-size: cover;
    padding-top: 0;
}
.carousel{
    width: 750px;
    padding-top: 350px;
}
.carousel-control-prev{
    padding-top: 350px;
}
.carousel-control-next{
    padding-top: 350px;
}
.text p{
    color: white;
    padding-top: 290px;
}
.text h1{
    color: white;
    font-weight: bolder;
    letter-spacing: 5px;
}

/* background 3 */
.background3{
    background-image: url(assets/features.jpg);
    height: 900px;
    background-size: cover;
    padding-top: 0;
}
.background3 p{
    color: white;
    padding-top: 250px;
    padding-left: 750px;
}
.background3 h1{
    color: white;
    letter-spacing: 5px;
    font-weight: bolder;
    padding-left: 750px;
}

/* background 4 */
.background4{
    background-image: url(assets/requirements.png);
    height: 900px;
    background-size: cover;
    padding-top: 0;
}
.table{
    margin-top: 80px;
}
.center h1{
    color: white;
    padding-top: 80px;
}
.game p{
    padding-top: 80px;
    color: white;
}

.kepala span{
    color: yellow;
}

.kepala p{
    color: white;
}


/* background 5 */
.background5{
    background-color: black;
    height: 900px;
    background-size: cover;
}
.score h1{
    color: white;
    padding-top: 290px;
    letter-spacing: 5px;
}
.score p{
    color: white;
    margin-top: 25px;
}
.buttonn{
    width: 250px;
    height: 50px;
    margin-top: 50px;
}
.testimoni{
    padding-top: 150px;
}
.card{
    margin-bottom: 20px;
    color: #313131;
}

/* background 6 */
.background6{
    background-color: black;
    height: 700px;
    background-size: cover;
}
.finalText p{
    color: white;
}
.finalText h1{
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    letter-spacing: 5px;
}
.lastpage{
    padding-top: 300px;
}

hr{
    width: 1170px;
    border-top: 2px solid #fff;
}

.footer{
    padding-bottom: 0;
    margin-top: 110px;
}
.col-12 li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    color: white;
}
.dark{
    width: 280px;
    height: 70px;
}
.yellow{
    width: 210px;
    height: 70px;
}
.dark p{
    color: #545454;
    font-size: 10px;
}
.dark h6{
    color: orange;
}